{{ define "main" }}
<main class="page-main pa4" role="main">
  <section class="blog-intro mw7 center mb3">
    <h2 class="f2 f1-ns lh-solid tc center fw4">{{ .Title | markdownify }}</h2>
    <span style="display:block;text-align:left;color:#77186a;font-size:1.6em;font-weight:700;margin-top:1rem;margin-bottom:0.4rem;">Univerisity of Wisconsin-Madison</span>
  </section>

  <section class="blog-content mw7 center">
    <div class="paper-list">
      <div class="paper-item" style="margin-top:0.5em;">
        <div class="paper-index">4.</div>
        <div class="paper-content">
          <div class="paper-authors">Teaching Assistant - Math 211: Survey of Calculus I</div>
          <div class="paper-status">Fall 2025</div>
        </div>
      </div>

      <div class="paper-item">
        <div class="paper-index">3.</div>
        <div class="paper-content">
          <div class="paper-authors">Teaching Assistant - Math 221: Calculus and Analytic Geometry I</div>
          <div class="paper-status">Fall 2024</div>
        </div>
      </div>

      <div class="paper-item">
        <div class="paper-index">2.</div>
        <div class="paper-content">
          <div class="paper-authors">Project Asst-Grader/Reader - Math 742: Abstract Algbebra II</div>
          <div class="paper-status">Spring 2024</div>
        </div>
      </div>

      <div class="paper-item">
        <div class="paper-index">1.</div>
        <div class="paper-content">
          <div class="paper-authors">Project Asst-Grader/Reader - Math 113: Trigonometry</div>
          <div class="paper-status">Fall 2023</div>
        </div>
      </div>
    </div>
  </section>
</main>
{{ end }}
